<div class="sidebar">

    <div class="logo">

    <h2>D'CONSA</h2>

    <div class="usuario-info">

        <div id="nombreRol">
            Cargando...
        </div>

        <div id="nombreUsuario">
            ...
        </div>

    </div>

</div>

    <ul>

        <li onclick="window.location.href='dashboard-admin.html'">
            <i class="fa-solid fa-house"></i>
            Inicio
        </li>

        <li onclick="window.location.href='productos.html'">
            <i class="fa-solid fa-box"></i>
            Productos
        </li>

        <li onclick="window.location.href='stock.html'">
            <i class="fa-solid fa-warehouse"></i>
            Stock
        </li>

        <li onclick="window.location.href='ventas.html'">
            <i class="fa-solid fa-cash-register"></i>
            Ventas
        </li>

        <li onclick="window.location.href='cierre-caja.html'">
            <i class="fa-solid fa-receipt"></i>
            Cierre Caja
        </li>

        <li onclick="window.location.href='usuarios.html'">
            <i class="fa-solid fa-users"></i>
            Usuarios
        </li>

        <li onclick="window.location.href='perfil.html'">
            <i class="fa-solid fa-user"></i>
            Perfil
        </li>

        <li onclick="cerrarSesion()">
            <i class="fa-solid fa-right-from-bracket"></i>
            Salir
        </li>

    </ul>

</div>